<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="MySqlConnection" connectionString="Server=localhost;Port=3306;Database=faculty;Uid=root;Pwd=root;"
          providerName="MySql.Data.MySqlClient" />
      <add name="Faculty.Properties.Settings.Setting" connectionString="Server=127.0.0.1;Uid=root;Pwd=root;Database=faculty;" />
  </connectionStrings>
</configuration>